@import "~uikit/dist/css/uikit.min.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}


.card {
  min-height: 315px;
  perspective: 500px;
}

.content {
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.card-image{
  border-radius: 5px;
  max-height: 315px;
  width: 100%;
  height: 100%;
  min-height: 315px;
}
.front,
.back {
  position: absolute;
  min-height: 315px;
  width: 100%;
  font-size: 18px;
  color: #03446A;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: #03446A;
  color: white;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transform: rotateY( 180deg );
}

.flex {
  width: 50vw;
  height: 80px;
  line-height: 80px;
  background-color: white;
  margin: -25px 0 0 -25vw;
}
.flex ul {
  display: flex;
  padding: 0;
  margin: 0;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
}
.flex ul li {
  flex: 1;
  list-style: none;
  text-align: center;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s ease;
  cursor: pointer;
  user-select: none;
}
.flex ul li:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #f564a9;
}
.flex ul li:hover:nth-of-type(2) ~ .bar {
  left: 20%;
}
.flex ul li:hover:nth-of-type(3) ~ .bar {
  left: 40%;
}
.flex ul li:hover:nth-of-type(4) ~ .bar {
  left: 60%;
}
.flex ul li:hover:nth-of-type(5) ~ .bar {
  left: 80%;
}
.flex ul .bar {
  width: 20%;
  background-color: #f564a9;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s ease;
}


.example {
  opacity: 1;
  transition: all 1000ms linear;
}

.example-appear {
  opacity: 0;
  transition: opacity 200ms;
}
.example-appear.example-appear-active {
  opacity: 0;
  transition: opacity 200ms;
}

.example-enter {
  opacity: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}